@import "./_libs.scss";
@import "./_var.scss";
@import "./_global.scss";
@import "./_fonts.scss";


/* Header start */
.header {
  &__wrapper {
    // position: fixed;
    position: absolute;
    top: 0;
    right: 0px;
    left: 0px;
    z-index: 5;
  }
  &__inner{
 
    display: flex;
    justify-content: space-between;
  }
  &__logo-box {
    display: flex;
    max-width: 430px;
    align-items: center;
    padding-top: 24px;
    height: 100%;
    .header__logo {
      padding-right: 16px;
      position: relative;
      img {
        width: 222px;
        height: 63px;
      }
      &-text {
        font-weight: 600;
        line-height: 24px;
        padding-left: 17px;
        border-left: 1px solid #fff;
      }
    }
  }
  &__phone-box {
    padding-top: 24px;

    &-list {
      li {
        font-size: 30px;
        line-height: 51px;
        justify-self: self-start;
        position: relative;
        padding-right: 30px;
        &:last-child {
          text-align: right;
          justify-self: self-end;
          line-height: 25px;
          padding-right: 30px;
          font-size: 18px;
        }
        &:first-child::after{
          position: absolute;
          content: "";
          background-image: url(../images/icons/V.png);
          height: 14px;
          width: 20px;
          top: 20px;
          right: 0;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        &:nth-child(2){
          display: none;
        }
        a {
        }
      }
    }
    &.active,
    &:hover{
      .header__phone-box-list{
        background-color:rgba(5, 5, 5, 0.7);
        padding: 0 10px;
        border-radius: 10px;
        li{
          border-bottom: 1px solid #000;
          color: #fff;
          &:nth-child(2){
            display: block;
          }
          &:first-child{
            margin-bottom: 7px;
            // padding-top: 5px;
          }
          &:last-child{
            margin-top: 10px;
            padding-bottom: 7px;
          }
        }
      }
      
    }
  }
  &__chat-box {
    padding-top: 15px;
    padding-left: 63px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      height: 80px;
      width: 1px;
      background-color: #fff;
      top: 24px;
      left: 0;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      border: 1px solid #fff;
      font-size: 30px;
      line-height: 41px;
      padding: 5px 28px 10px 28px;
      a {
        font-size: 13px;
        line-height: 18px;
        color: rgba(250, 250, 250, 0.8);
      }
      &:hover{
        background-color: #5fb138;
      }
    }
    }
    
}
/* Header end */


/* Header content start */
.header__content{
  &-wrapper{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
  }
  &-inner{
    display: flex;
    justify-content: space-between;
  }
  &-text{
    max-width: 813px;
    padding-top: 195px;
    &-title{
      font-size: 64px;
      line-height: 87px;
      font-weight: 700;
      color: #fff;
      span{
        font-weight: 400;
        line-height: 49px;
        font-size: 36px;
      }
    }

  }
  &-popup{
    padding-bottom: 40px;
    .popup{
      position: static;
      background-color: transparent;
      &-container{
        margin-top: 120px;
      }
    }

    .popup-text{
      span{

      }
    }
  }
  &-vacancy{
    background: rgba(14, 13, 23, 0.7);
    text-align: center;
    padding: 14px 0;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
  }
}



/* Header content end */







@import "./_media.scss";




